@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$myColor : #333;
$light : #FFF;
$blue : dodgerblue;


@mixin flexItems($direction, $hor, $vert) {
    display: flex;
    flex-direction: $direction;
    align-items: $vert;
    justify-content: $hor;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    max-width: 900px;
    margin: auto; 
}


header {
    @include flexItems(column, center , center);
    background: $blue;  
    h1 {
        text-align: center;
        padding: 2rem 1rem;
        text-transform: capitalize;
        color: $light;
        cursor: pointer;
    }
    ul {
        @include flexItems(row, flex-start , flex-start);
        gap: 2rem;
        background-color: $myColor;
        width: 100%;
        padding: 1rem;
        list-style-type: none;
        a:any-link {
            font-size: 1.5rem;
            color: $light;
            &:hover {
                opacity: .8;
            }
        }
    }
}

.newPost {
    max-width: 800px;
    margin: 1rem auto;
    @include flexItems(column, center , flex-start);
    gap: 1rem;
    h1 {
        width: 100%;
        color: $myColor;
        text-align: center;
    }
    label,
    input {
        display: block;
    }
    label {
        font-size: 1.5rem;
        width: 100%;
    }
    input[type="text"] {
        height: 50px;
    }
    textarea,
    input {
        border: 1px solid $myColor;
        border-radius: 5px;
        padding: .5rem;
        width: 100%;
        outline: none;
    }

    input[type=submit] {
        width: 200px;
        height: 50px;
        border-radius: 5px;
        font-size: 1.2rem;
        margin: auto;
        border: none;
        color: $light;
        background-color: $myColor;
        border: 2px solid $light;
        &:hover {
            background-color: $light;
            border: 2px solid $myColor;
            color: $myColor;
            transition: .3s;
         }
    }

}

.home {
    @include flexItems(column, center , center);
    gap: 1rem;
    main {
        width: 100%;
        padding: 1rem;
        .post-text {
            line-height: 1.5;
        }

        h2 {
            text-transform: capitalize;
        }
        
        .viewMore {
            display: block;
            width: 100px;
            height: 45px;
            background-color: $light;
            text-decoration: none;
            background-color: $blue;
            display: grid;
            place-content: center;
            font-size: 1.2rem;
            color: $light;
            &:hover {
                background-color: #fff;
                border: 2px solid $blue;
                color: $blue;
            }
            margin-top: 1rem;
        }
    }
}

.about {
    margin-top: 2rem;
    text-align: center;
    color: $myColor;
}

.error {
    color: red;
}

.date {
    opacity: .7;
}

.description {
    letter-spacing: .5s;
    color: $myColor;
}

.showSection {
    padding: 2rem;
    line-height: 1.6;
    h1 {
        text-transform: capitalize;
        color: $myColor;
        font-size: 2.4rem;
    }
    .post-btns {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
    }

    input,
    a:any-link {
        width: 140px;
        height: 50px;
        border-radius: 10px;
        transition: .2s;
    }

    a:any-link{ 
        background-color: $blue;
        border: 2px solid $blue;
        text-decoration: none;
        display: grid;
        place-content: center;
        color: $light;
        &:hover {
            background-color: $light;
            color: $blue;
        }
    }

    input {
        display: block;
        border: 2px solid red;
        background-color: #fff;
        color: red;
        &:hover {
            background-color: red;
            color: $light;
        }
    }
}

